In [31]:
import numpy as np
import pandas as pd

In [32]:
def get_dayclose(dataset, name):
    data_dayclose = dataset.loc[:,["Date","Close"]]
    dayclose_name = name + " close price"
    data_dayclose.columns = ["Date", dayclose_name]
    return data_dayclose

def get_diff(dataset, name):
    dataset["diff"] = dataset["Open"] - dataset["Close"]
    data_diff = dataset.loc[:,["Date","diff"]]
    diff_name = name + " diff"
    data_diff.columns = ["Date", diff_name]
    return data_diff


data_APPL = pd.read_csv("AAPL.csv")
data_APPL_dayclose = get_dayclose(data_APPL, "APPL")
data_APPL_diff = get_diff(data_APPL, "APPL")

data_MSFT = pd.read_csv("MSFT.csv")
data_MSFT_dayclose = get_dayclose(data_MSFT, "MSFT")
data_MSFT_diff = get_diff(data_MSFT, "MSFT")


data_QCOM = pd.read_csv("QCOM.csv")
data_QCOM_dayclose = get_dayclose(data_QCOM, "QCOM")
data_QCOM_diff = get_diff(data_MSFT, "QCOM")

data_TXN = pd.read_csv("TXN.csv")
data_TXN_dayclose = get_dayclose(data_TXN, "TXN")
data_TXN_diff = get_diff(data_MSFT, "TXN")

data_all_closeprice = pd.merge(data_TXN_dayclose,data_QCOM_dayclose)
data_all_closeprice = pd.merge(data_all_closeprice,data_MSFT_dayclose)

data_all_closeprice.head(5)

data_all_diff = pd.merge(data_TXN_diff,data_QCOM_diff)
data_all_diff = pd.merge(data_all_diff,data_MSFT_diff)
data_all_diff.head(5)

         Date  TXN diff  QCOM diff  MSFT diff
0  2016-01-04 -0.479999  -0.479999  -0.479999
1  2016-01-05 -0.119999  -0.119999  -0.119999
2  2016-01-06  0.270001   0.270001   0.270001
3  2016-01-07  0.530003   0.530003   0.530003
4  2016-01-08  0.039997   0.039997   0.039997

In [33]:
data_exchange = pd.read_csv("daily.csv")

def exchange_rate_contry(dataset, country):
    data_con = dataset.loc[data_exchange["Country"] == country]
    data_con = data_con.drop(columns = ["Country"])
    data_con = data_con.set_index("Date")
    data_con = data_con["2016-01-01":"2016-12-31"]
    date = data_con.index
    ind = np.arange(data_con.shape[0])
    data_con = data_con.set_index(ind)
    data_con["Date"] = date
    exchange_name = country + " exchange rate"
    data_con.columns = [exchange_name, "Date"]
    return data_con

data_exchange_chn = exchange_rate_contry(data_exchange, "China")

data_exchange_can = exchange_rate_contry(data_exchange, "Canada")

data_exchange_euro = exchange_rate_contry(data_exchange, "Euro")    

data_exchange_hk = exchange_rate_contry(data_exchange, "Hong Kong")

# data_exchange_hk.head(5)


data_all_exchangerate = pd.merge(data_exchange_euro, data_exchange_can)
data_all_exchangerate = pd.merge(data_all_exchangerate, data_exchange_chn)
data_all_exchangerate = pd.merge(data_all_exchangerate, data_exchange_hk)

#switch order
cols = data_all_exchangerate.columns.tolist()
a = cols[0]
cols[0] = cols[1]
cols[1] = a
data_all_exchangerate = data_all_exchangerate[cols]
data_all_exchangerate.head(5)

,Date,Euro exchange rate,Canada exchange rate,China exchange rate,Hong Kong exchange rate
0,2016-01-01,NaN,NaN,NaN,NaN
1,2016-01-04,0.925669,1.3970,6.5338,7.7505
2,2016-01-05,0.930839,1.3991,6.5219,7.7517
3,2016-01-06,0.929195,1.4084,6.5554,7.7523
4,2016-01-07,0.920810,1.4061,6.5926,7.7541